/*
 Theme Name:   polymorph basic
 Theme URI:    https://polymorph.cool/
 Description:  blankslate theme child
 Author:       frankiezafe
 Author URI:   http://frankiezafe.org
 Template:     blankslate
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         one-column, two-columns, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready
 Text Domain:  blankslatechild
*/

@font-face {

  font-family: Gidolinya;
  src: url('GidoleFont/Gidolinya-Regular.otf');
/*
  font-family: anka-coder;
  src: url('anka-coder/AnkaCoder-r.ttf');
*/
}

body, html {
	background: #333;
	color: #ddd;
	font-size: 1em;
}

body, html, input {
	font-family: Gidolinya;
	/*font-family: anka-coder;*/
}

a {
	color: #fff;
	background: #000;
	text-decoration: none;
	padding: 0px 2px;
}
a:hover {
	color: #000;
	background: #fff;
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.5em; }

article {
	margin: 0 0 20px 0;
}

#header {
	z-index: 10001;
	position: fixed;
	display: block;
	width: 250px;
	padding: 5px;
}

#footer .menu {
	width: 100%;
	float: left;
	margin-bottom: 10px;
}

#header a, 
#header input,
#footer .menu a, 
.playlist_peertube_menu a {
	color: #fff;
	border: 3px solid #000;
	padding: 3px;
	margin: 3px;
	display: block;
	float: left;
	background: #333;
	border-left-color: #555;
	border-top-color: #888;
}
#header .search-form input[type=submit] {
	margin-left: 0;
}
#header .search-form input[type=search],
#header .search-form input[type=search]:hover {
	border-left-color: #000;
	border-top-color: #000;
	border-right-color: #555;
	border-bottom-color: #888;
	background: #111;
	margin-right: 0;
}

#header a:hover, 
#header input:hover,
#footer .menu a:hover, 
.playlist_peertube_menu a:hover {
	color: #fff;
	border-left-color: #000;
	border-top-color: #000;
	border-right-color: #555;
	border-bottom-color: #888;
}

#site-title {
	font-size: 1.8em;
}
#site-title h1 {
	font-size: 1em;
}

#site-description {
	float:left;
	clear:both;
}

#container {
	margin-left: 260px;
}

#container h1, 
#container h2, 
#container h3, 
#container h4, 
#container h5, 
#container h6 {
	margin: 10px 10px 10px 0px;
	padding: 5px;
	border: 5px solid #333;
	border-right-color: #000;
	border-right-color: #555;
	border-bottom-width: 10px;
	clear: both;
	background: #000;
	border-top-color: #222;
	border-left-color: #151515;
}
#container p,
#container img {
	margin: 5px 10px 5px 0px;
	line-height: 1.4em;
}
#container img,
#container figure iframe {
	max-width: 100%;
	height: auto;
}
#container figure.banner {
	border: 5px solid #000;
	border-left-width: 0;
	border-right-width: 0;
}
#container figure.banner a {
	height: 200px;
	overflow: hidden;
	position: relative;
	display: block;
}
#container figure.banner img {
	position: absolute;
	top: -50%;
}
#container figure.banner figcaption {
	width: 100%;
	padding: 10px;
	background: rgba(0,0,0,0.8);
	margin: 0;
	border-left: 5px solid #000;
	border-right: 5px solid #000;
}
#container figure.banner:hover,
#container figure.banner:hover a,
#container figure.banner:hover figcaption {
	border-color: #eee;
}


/*
#container .entry-content,
#container .post {
	margin: 0px 260px 0px 0px;
}
*/

#container .header {
	border: 3px solid #000;
	border-left-color: #000;
	border-top-color: #000;
	border-right-color: #555;
	border-bottom-color: #888;
}
#container h1.entry-title {
	font-size: 3em;
	margin: 0px 0px 5px 0;
	padding: 10px;
	border: 10px solid;
	border-image-source: linear-gradient(180deg, #ff2550, #111);
	border-image-slice: 1;
	border-top-width: 10px;
	border-bottom-width: 50px;
	background: linear-gradient(180deg, #000, #444);
}

#container .attachment-post-thumbnail {
	max-width: 100%;
	height:auto;
}

#container h2 a {
	margin: -5px -10px -5px -5px;
	height: 100%;
	width: 100%;
	display: block;
	padding: 0px;
	border: 5px solid #000;
	border-right: 5px solid #ff0023;
}
#container h2 a:hover {
	color: #00ff90;
	background: #000;
	border-color: #000;
	border-right-color: #000;
	border-left-color: #00ff90;
	padding-left: 5px;
}

#container a img {
	margin: 0 -2px;
	padding: 0;
	border: 5px solid #000;
	line-height: 0.1em;
}
#container a:hover img {
	border-color: #eee;
}

#footer {
	margin: 10px 10px 20px 10px;
}

/* ################### playlist_peertube ################### */

.playlist_peertube_menu {
	z-index: 900;
	position:absolute;
	left: 0px;
	top: 0px;
	padding: 250px 5px 0 5px;
	background: rgba(43, 43, 43, 0.8);
	width: 250px;
	height: 100%;
	border: 3px solid #000;
	border-left-width: 0px;
	border-top-width: 0px;
}
#container .playlist_peertube_menu h3 {
	font-size: 1.2em;
	margin: 0 0 6px -5px;
	color: #ddd;
	border: 0;
	background: none;
}
.playlist_peertube_menu h3 a {
	background: none;
	border: none;
	padding: 0px 6px 3px 20px;
	margin-left: -20px;
}

.playlist_peertube_menu h3::before {
	content: '';
	float: left;
	display: block;
	width: 20px;
	height: 20px;
	background-image: url('https://polymorph.cool/wp-content/plugins/embed-peertube-playlist/images/logo.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: 65%;
	margin-top: 3px !important;
}

li.playlist_peertube_li .video_description {
	float:left;
	display:none;
	clear: both;
	padding: 3px 6px 6px 6px;
	width: 100%;
    overflow: hidden;
}

li.playlist_peertube_li.selected {
	background: #000;
	border: 3px solid #000;
	border-right-color: #555;
	border-bottom-color: #888;
	float: left;
	display: block;
	clear: both;
	padding: 0;
	border-collapse: collapse;
	margin: 0 0 3px 3px;
	width: 100%;
}
li.playlist_peertube_li.selected a {
	margin:0 !important;
	width: 100%;
}
li.playlist_peertube_li.selected .video_description {
	display:block;
}

a.playlist_peertube_next, 
a.playlist_peertube_previous {
	font-size: 1.5em;
	width: 110px;
	float: left;
	text-align: center;
	padding-bottom: 0.4em;
}
.playlist_peertube_previous {
	float: right;
}


div.playlist_peertube_video {
	z-index: 1;
	position:absolute;
	width: 100%;
	height: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
}
div.playlist_peertube_video h3 {
	display: none;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	body, html { font-size: 1.1em; }
	input { font-size: 1em; }
	div#search { width: 100%; float:left; display:block; }
	div#search .search-submit { text-transform: lowercase; }
	/*
	header#header { float: left; display: block; height: auto; position: inherit; width: 100%; }
	header#header .menu a { font-size: 1.2em; padding: 10px; }
	div#container { float: left; display: block; height: auto; position: inherit; width: 100%; overflow: hidden; margin: 0px 10px 50px 10px; }
	div#container h1.entry-title { font-size: 2.3em; }
	div#container figure iframe { max-width: 100%; height: auto; }
	div.playlist_peertube_player { margin-right: 10px; }
	div.playlist_peertube_menu { position: inherit; width: 100%; height: auto; float: left; display: block; clear: both; padding-top: 0; }
	div.playlist_peertube_video { position: inherit; width: 100%; height:auto; float: left; display: block; clear: both; }
	*/
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
	/*
	header#header { float: left; display: block; height: auto; position: inherit; width: 100%; }
	header#header .menu a { font-size: 1.2em; padding: 10px; }
	div#container { float: left; display: block; height: auto; position: inherit; width: 100%; overflow: hidden; margin: 0px 10px 50px 10px; }
	div#container h1.entry-title { font-size: 2.3em; }
	div#container figure iframe { max-width: 100%; height: auto; }
	*/
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
	body, html { font-size: 1.1em; }
	input { font-size: 1em; }
	div#search { width: 100%; float:left; display:block; }
	div#search .search-submit { text-transform: lowercase; }
	header#header { float: left; display: block; height: auto; position: inherit; width: 100%; }
	header#header .menu a { font-size: 1.2em; padding: 10px; }
	div#container { float: left; display: block; height: auto; position: inherit; width: 100%; overflow: hidden; margin: 0px 10px 50px 10px; }
	div#container h1.entry-title { font-size: 2.3em; }
	div#container figure iframe { max-width: 100%; height: auto; }
	div.playlist_peertube_player { margin-right: 10px; }
	div.playlist_peertube_menu { position: inherit; width: 100%; height: auto; float: left; display: block; clear: both; padding-top: 0; }
	div.playlist_peertube_video { position: inherit; width: 100%; height:auto; float: left; display: block; clear: both; }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
	body, html { font-size: 1.1em; }
	input { font-size: 1em; }
	div#search { width: 100%; float:left; display:block; }
	div#search .search-submit { text-transform: lowercase; }
	header#header { float: left; display: block; height: auto; position: inherit; width: 100%; }
	header#header .menu a { font-size: 1.2em; padding: 10px; }
	div#container { float: left; display: block; height: auto; position: inherit; width: 100%; overflow: hidden; margin: 0px 10px 50px 10px; }
	div#container h1.entry-title { font-size: 2.3em; }
	div#container figure iframe { max-width: 100%; height: auto; }
	div.playlist_peertube_player { margin-right: 10px; }
	div.playlist_peertube_menu { position: inherit; width: 100%; height: auto; float: left; display: block; clear: both; padding-top: 0; }
	div.playlist_peertube_video { position: inherit; width: 100%; height:auto; float: left; display: block; clear: both; }
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
	body, html { font-size: 1.1em; }
	input { font-size: 1em; }
	div#search { width: 100%; float:left; display:block; }
	div#search .search-submit { text-transform: lowercase; }
	header#header { float: left; display: block; height: auto; position: inherit; width: 100%; }
	header#header .menu a { font-size: 1.2em; padding: 10px; }
	div#container { float: left; display: block; height: auto; position: inherit; width: 100%; overflow: hidden; margin: 0px 10px 50px 10px; }
	div#container h1.entry-title { font-size: 2.3em; }
	div#container figure iframe { max-width: 100%; height: auto; }
	div.playlist_peertube_player { margin-right: 10px; }
	div.playlist_peertube_menu { position: inherit; width: 100%; height: auto; float: left; display: block; clear: both; padding-top: 0; }
	div.playlist_peertube_video { position: inherit; width: 100%; height:auto; float: left; display: block; clear: both; }
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
	body, html { font-size: 1.1em; }
	input { font-size: 1em; }
	div#search { width: 100%; float:left; display:block; }
	div#search .search-submit { text-transform: lowercase; }
	header#header { float: left; display: block; height: auto; position: inherit; width: 100%; }
	header#header .menu a { font-size: 1.2em; padding: 10px; }
	div#container { float: left; display: block; height: auto; position: inherit; width: 100%; overflow: hidden; margin: 0px 10px 50px 10px; }
	div#container h1.entry-title { font-size: 2.3em; }
	div#container figure iframe { max-width: 100%; height: auto; }
	div.playlist_peertube_player { margin-right: 10px; }
	div.playlist_peertube_menu { position: inherit; width: 100%; height: auto; float: left; display: block; clear: both; padding-top: 0; }
	div.playlist_peertube_video { position: inherit; width: 100%; height:auto; float: left; display: block; clear: both; }
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	header#header { width: 250px; }
	div#container { margin-right: 10px; margin-left: 260px; }
	div#container .entry-content {  margin-right: 250px; }
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	header#header { width: 250px !important; }
	div#container { margin-right: 10px; margin-left: 260px; }
	div#container .entry-content,
	div#container article.post
	 { max-width: 900px; margin-right: 250px; }
}

/* iPhone 4 - 5s ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
	body, html { font-size: 1.1em; }
	input { font-size: 1em; }
	div#search { width: 100%; float:left; display:block; }
	div#search .search-submit { text-transform: lowercase; }
	header#header { float: left; display: block; height: auto; position: inherit; width: 100%; }
	header#header .menu a { font-size: 1.2em; padding: 10px; }
	div#container { float: left; display: block; height: auto; position: inherit; width: 100%; overflow: hidden; margin: 0px 10px 50px 10px; }
	div#container h1.entry-title { font-size: 2.3em; }
	div#container figure iframe { max-width: 100%; height: auto; }
	div.playlist_peertube_player { margin-right: 10px; }
	div.playlist_peertube_menu { position: inherit; width: 100%; height: auto; float: left; display: block; clear: both; padding-top: 0; }
	div.playlist_peertube_video { position: inherit; width: 100%; height:auto; float: left; display: block; clear: both; }
}

/* iPhone 6 ----------- */
@media
only screen and (max-device-width: 667px) 
only screen and (-webkit-device-pixel-ratio: 2) {
	body, html { font-size: 1.1em; }
	input { font-size: 1em; }
	div#search { width: 100%; float:left; display:block; }
	div#search .search-submit { text-transform: lowercase; }
	header#header { float: left; display: block; height: auto; position: inherit; width: 100%; }
	header#header .menu a { font-size: 1.2em; padding: 10px; }
	div#container { float: left; display: block; height: auto; position: inherit; width: 100%; overflow: hidden; margin: 0px 10px 50px 10px; }
	div#container h1.entry-title { font-size: 2.3em; }
	div#container figure iframe { max-width: 100%; height: auto; }
	div.playlist_peertube_player { margin-right: 10px; }
	div.playlist_peertube_menu { position: inherit; width: 100%; height: auto; float: left; display: block; clear: both; padding-top: 0; }
	div.playlist_peertube_video { position: inherit; width: 100%; height:auto; float: left; display: block; clear: both; }
}

/* iPhone 6+ ----------- */
@media
only screen and (min-device-width : 414px) 
only screen and (-webkit-device-pixel-ratio: 3) {
	body, html { font-size: 1.1em; }
	input { font-size: 1em; }
	div#search { width: 100%; float:left; display:block; }
	div#search .search-submit { text-transform: lowercase; }
	header#header { float: left; display: block; height: auto; position: inherit; width: 100%; }
	header#header .menu a { font-size: 1.2em; padding: 10px; }
	div#container { float: left; display: block; height: auto; position: inherit; width: 100%; overflow: hidden; margin: 0px 10px 50px 10px; }
	div#container h1.entry-title { font-size: 2.3em; }
	div#container figure iframe { max-width: 100%; height: auto; }
	div.playlist_peertube_player { margin-right: 10px; }
	div.playlist_peertube_menu { position: inherit; width: 100%; height: auto; float: left; display: block; clear: both; padding-top: 0; }
	div.playlist_peertube_video { position: inherit; width: 100%; height:auto; float: left; display: block; clear: both; }
}

/* Samsung Galaxy S7 Edge ----------- */
@media only screen
and (-webkit-min-device-pixel-ratio: 3),
and (min-resolution: 192dpi)and (max-width:640px) {
	body, html { font-size: 1.1em; }
	input { font-size: 1em; }
	div#search { width: 100%; float:left; display:block; }
	div#search .search-submit { text-transform: lowercase; }
	header#header { float: left; display: block; height: auto; position: inherit; width: 100%; }
	header#header .menu a { font-size: 1.2em; padding: 10px; }
	div#container { float: left; display: block; height: auto; position: inherit; width: 100%; overflow: hidden; margin: 0px 10px 50px 10px; }
	div#container h1.entry-title { font-size: 2.3em; }
	div#container figure iframe { max-width: 100%; height: auto; }
	div.playlist_peertube_player { margin-right: 10px; }
	div.playlist_peertube_menu { position: inherit; width: 100%; height: auto; float: left; display: block; clear: both; padding-top: 0; }
	div.playlist_peertube_video { position: inherit; width: 100%; height:auto; float: left; display: block; clear: both; }
}
